body {
  background-color: #eee;
}

.bm_questionList {
  max-width: 960px;
  margin: 50px auto;
}
.bm_questionList li label{
  padding: 5px;
  display: inline-block;
  width: 95%;
}
.bm_optionList {
  padding: 0;
}
.bm_optionList li {
  border: solid 1px #aaa;
  padding-left: 5px;
  margin-bottom: 5px;
}
.bm_optionList li.right {
  background-color: #0de53b;
}
.bm_optionList li.error {
  background-color: #ff3334;
}
.bm_question h4 {
  border: solid 1px #aaa;
  border-radius: 4px;
  padding: 10px;
  background-color: #fafafa;
}
.bm_question {
  border-bottom: solid 1px #aaa;
  padding-bottom: 20px;
}
.bm_question:last-child {
  border: none;
}
.bm_result {
  border: solid 1px #aaa;
  border-radius: 4px;
  margin-top: 15px;
}

.bm_result h3 {
  border-bottom: solid 1px #aaa;
  margin: 0;
  padding: 10px;
  background-color: #e5e5e5;
}

.bm_result p {
  text-indent: 2em;
}

.bm_result .right {

}

.bm_result .error {

}
